<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    <!-- navbar -->
    {{>navbar}}

    <!-- main content -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="B2 Patel" title="B2 Patel">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my Weather App</p>
                        <h1>I am a <span class="text-col">MERN Stack Developer</span> , Competitive Programmer and AI/ML Enthusiastic</h1>
                        <a href="https://www.linkedin.com" target="_blank"><button>About Me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>   
    
    {{>footer}}
</body>

</html>